@use '../abstracts' as a;


.sticky-note {
    width: 11rem;
    min-height: 11rem;
    word-break: break-all;
    max-height: 10rem;
    padding: 1.5rem;
    position: relative;
    background: #feff9c;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.6);
    transform: rotate(-2deg);
    transition: box-shadow 0.2s ease;

    p {
        font-family: "Permanent Marker", cursive;
        font-size: 1.2rem;
        line-height: 1.5;
        margin: 0;
    }

    &::before {
        position: absolute;
        content: ''; 
        background-image: url('../images/thumbtack.svg');
        background-repeat: no-repeat;
        background-size: contain;
        width: 4rem;  
        height: 4rem; 
        top: -1.5rem;  
        left: 45%;
        transform: scale(1) translateX(-50%) translateY(-100%) rotate(20deg);
        transform-origin: center;
        animation: stickTape 100ms ease-in forwards;
        opacity: 0;
    }

    &.dragging::before {
        animation: stickTapeReverse 100ms ease-in forwards;
    }

    &.dragging {
        box-shadow: 15px 15px 15px rgba(0,0,0,0.6);
    }
}
