@use '../abstracts' as a;

.polaroid-card {
    padding: 1rem;
    background-color: white;
    width: fit-content;
    position: relative;
    max-width: 15rem;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.6);
    transform: rotate(0.5deg);
    transition: box-shadow 0.2s ease;

    p {
        font-family: a.$caption-font-family;
        font-size: 1.5rem;
        word-wrap: break-word;
        margin: 0;
        margin-top: 0.5rem;
    }

    &::before {
        position: absolute;
        content: ''; 
        background-image: url('../images/tape-3.svg');
        background-repeat: no-repeat;
        background-size: contain;
        width: 7rem;  
        height: 7rem; 
        top: -1.25rem;  
        left: 50%;
        transform: scale(1) translateX(-50%) translateY(-100%) rotate(20deg);
        transform-origin: center;
        animation: stickTape 150ms ease-in forwards;
        opacity: 0;
    }

    &.dragging::before {
        animation: stickTapeReverse 150ms ease forwards !important;
    }
    
    img {
        max-width: 100%;
        height: auto;
    }

    &.dragging {
        box-shadow: 15px 15px 15px rgba(0,0,0,0.6);
    }

    @keyframes stickTape {
        0% { 
            transform: scale(1.2) translate(-40%, 20%) rotate(7deg);
            opacity: 1;
        }
        20% {
    
            transform: scale(1.15) translate(-42%, 15%) rotate(5deg);
        }
        40% {
     
            transform: scale(1.1) translate(-45%, 10%) rotate(7deg);
        }
        60% {
       
            transform: scale(1.05) translate(-48%, 5%) rotate(4deg);
        }
        75% {
            transform: scale(1.02) translate(-50%, 2%) rotate(4deg);
     
        }
        90% {
            transform: scale(1.01) translate(-50%, 1%) rotate(2deg);
           
        }
        100% { 
            transform: scale(1) translate(-50%, 0%) rotate(0);
            opacity: 1;
        }
    }
    
    @keyframes stickTapeReverse {
        0% { 
            transform: scale(1) translate(-50%, 0%) rotate(0);
            opacity: 1;
        }
        100% { 
            transform: scale(1.1) translate(-50%, 10%) rotate(10deg);
            opacity: 0;
        }
    }
}
