@use '../abstracts' as a;

.polaroid-card {
    padding: 1rem;
    background-color: white;
    width: fit-content;
    position: relative;
    max-width: 15rem;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.6);
    transform: rotate(0.5deg);
    transition: box-shadow 0.2s ease;

    p {
        font-family: a.$caption-font-family;
        font-size: 1.5rem;
        word-wrap: break-word;
        margin: 0;
        margin-top: 0.5rem;
    }

    &::before {
        position: absolute;
        content: ''; 
        background-image: url('../images/tape-3.svg');
        background-repeat: no-repeat;
        background-size: contain;
        width: 7rem;  
        height: 7rem; 
        top: -1.5rem;  
        left: 50%;
        transform: scale(1) translateX(-50%) translateY(-100%) rotate(20deg);
        transform-origin: center;
        animation: stickTape 100ms ease-in forwards;
        opacity: 0;
        z-index: 5;
    }

    &.dragging::before {
        animation: stickTapeReverse 100ms ease-in forwards;
    }
    
    img {
        max-width: 100%;
        height: auto;
    }

    &.dragging {
        box-shadow: 15px 15px 15px rgba(0,0,0,0.6);
    }

    @keyframes stickTape {
        0% { 
            transform: scale(1.03) translate(-46%, 3%) rotate(0.1deg);
            opacity: 1;
        }
        50% {
            transform: scale(1.015) translate(-48%, 2%) rotate(0deg);
        }
        100% { 
            transform: scale(1) translate(-50%, 0%) rotate(0);
            opacity: 1;
        }
    }
    
    @keyframes stickTapeReverse {
        0% { 
            transform: scale(1) translate(-50%, 0%) rotate(0);
            opacity: 1;
        }
        50% {
            transform: scale(1.015) translate(-48%, 2%) rotate(0deg);
            opacity: 1;
        }
        100% { 
            transform: scale(1.03) translate(-46%, 3%) rotate(0.1deg);
            opacity: 1;
        }
    }
}
