@use '../abstracts' as a;

#sticker-form {
    gap: 0.5rem;
    flex-wrap: wrap;
    justify-content: center;

    .sticker-btn {
        font-size: 2rem;
        padding: 1rem;
        border: 1px solid a.$primary-color;
        border-radius: 0.5rem;
        background: white;
        transition: transform 0.2s ease;

        &:hover {
            transform: scale(1.1);
        }

        &:active {
            transform: scale(0.95);
        }
    }
}
