@use '../abstracts' as a;

#controls-con {
    height: 8rem;
}



#image-container {
    background-image: url('../images/viewfinder.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: calc(100% - 4rem);
    height: calc(100vh - 12rem);
    margin: 2rem;
    position: relative;

    .image-card {
        padding: 2rem;
        background-color: white;
        width: fit-content;
        position: relative;
        transform: scale(0.6);

        p {
            font-family: "Permanent Marker", cursive;
            font-size: 2rem;
        }

        &::before {
            position: absolute;
            content: ''; 
            background-image: url('../images/tape-1.svg');
            background-repeat: no-repeat;
            background-size: contain;
            width: 10rem;  
            height: 10rem; 
            top: -2rem;  
            left: 50%;
            transform: scale(1) translateX(-50%) translateY(-100%) rotate(20deg);
            transform-origin: center;
            animation: stickTape 0.25s ease-in forwards;
            opacity: 0;
        }

        img {
            max-width: 100%;
            height: auto;
        }
    
    }
}

.image-card.dragging::before {
    animation: stickTapeReverse 150ms ease-in forwards !important;
}

@keyframes stickTape {
    0% { 
        transform: scale(1.2) translate(-40%, 20%) rotate(20deg);
        opacity: 0;
    }
    20% {
        opacity: 0.4;
        transform: scale(1.15) translate(-42%, 15%) rotate(15deg);
    }
    40% {
        opacity: 0.7;
        transform: scale(1.1) translate(-45%, 10%) rotate(10deg);
    }
    60% {
        opacity: 0.85;
        transform: scale(1.05) translate(-48%, 5%) rotate(8deg);
    }
    75% {
        transform: scale(1.02) translate(-50%, 2%) rotate(4deg);
        opacity: 0.95;
    }
    90% {
        transform: scale(1.01) translate(-50%, 1%) rotate(2deg);
        opacity: 0.98;
    }
    100% { 
        transform: scale(1) translate(-50%, 0%) rotate(0);
        opacity: 1;
    }
}

@keyframes stickTapeReverse {
    0% { 
        transform: scale(1) translate(-50%, 0%) rotate(0);
        opacity: 1;
    }
    100% { 
        transform: scale(1.1) translate(-50%, 10%) rotate(10deg);
        opacity: 0;
    }
}

